PORT=3000

LINE_CHANNEL_ACCESS_TOKEN=
LINE_CHANNEL_SECRET=

SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=

OPENAI_API_KEY=
OPENAI_MODEL=gpt-5.5

OWNER_USER_ID=

WEBSITE=https://你的官網

IMG_DG=
IMG_MT=

IMG_SET1=
IMG_SET2=
IMG_BAPHOMET=

IMG_WORLDCUP=
IMG_MLB=
IMG_NBA=
